//{
//  "env": {
//    "test": {
//      "presets": [
//        ["es2015", {"modules": false}], "stage-0", "react"
//      ],
//        "plugins": [
//        "transform-es2015-modules-commonjs",
//        ["transform-es2015-template-literals", {
//          "loose": true,
//          "spec": true
//        }]
//      ]
//    }
//  },
//
//  "presets": [
//      ["env", { "targets": { "node": true } }],
//      "react"
//    ]
//}

{
  "presets": [
    ["env", { "targets": { "node": true } }],
    "stage-0",
    "react"
  ]
}